---
interface Props {
  title: string;
  url: string;
}

const { title, url } = Astro.props;
---

<li class="mr-2"><a class="text" href={url}>{title}</a></li>

<style>
  .text {
    color: aliceblue;
  }

  .text:hover {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  a {
    color: aliceblue;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;

    display: inline-block;
    padding: 5px 10px;
    position: relative;
  }

  a:after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 100%;
    position: absolute;
    background-image: var(--gradient);
    transition:
      width 0.3s ease 0s,
      left 0.3s ease 0s;
    width: 0;
  }

  a:hover:after {
    width: 100%;
    left: 0;
  }

  a:before {
    top: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    background-image: var(--gradient);
    transition:
      width 0.3s ease 0s,
      left 0.3s ease 0s;
    width: 0;
  }

  a:hover:before {
    width: 100%;
    left: 0;
  }
</style>
