.opacity-animation {
    opacity: 0;
    transition: all 2s ease-out;
}

.opacity-animate {
    opacity: 1;
}

.right-animation {
    transform: translateX(600px);
    transition: all 1s ease-out;
}

.left-animation {
    transform: translateX(-600px);
    transition: all 1s ease-out;
}

.right-animate {
    transform: translateX(0);
}

.left-animate {
    transform: translateX(0);
}