---
import { Image } from "astro:assets";

interface Props {
  items: Map<string, string>;
}

const { items } = Astro.props;
---

<h1>{items.toString()}</h1>
{
  items.forEach((url, logoUrl) => (
    <>
      <p>{url}</p>
      <Image src={logoUrl!} alt="" width={300} height={300} />
    </>
  ))
}
