---
import Logo from "./Logo.astro";

const routes = [
    {url: "/", title: "Home"},
    {url: "/download", title: "Download"},
    {url: "https://www.donationalerts.com/r/06ed", title: "Donate"}
];
---
<nav class="flex h-[70px] absolute top-0 left-0 right-0 px-3 items-center justify-between">
    <Logo/>
    <ul class="list-none flex">
        {routes.map(route =>
                <li class="mr-2"><a class="text" href={route.url}>{route.title}</a></li>)}
    </ul>
</nav>


<style>
    nav {
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(4px);
    }

    .text {
        color: aliceblue;
    }
    .text:hover {
        background: linear-gradient(to right, #bc96e6, #6d8dd2, #1d7eac, #006a7d, #0b5351);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    a {
        color: aliceblue;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.15em;

        display: inline-block;
        padding: 5px 10px;
        position: relative;
    }

    a:after {
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 100%;
        position: absolute;
        background-image: linear-gradient(to right, #bc96e6, #6d8dd2, #1d7eac, #006a7d, #0b5351);
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }

    a:hover:after {
        width: 100%;
        left: 0;
    }

    a:before {
        top: 0;
        content: "";
        display: block;
        height: 2px;
        left: 0;
        position: absolute;
        background-image: linear-gradient(to right, #bc96e6, #6d8dd2, #1d7eac, #006a7d, #0b5351);
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }

    a:hover:before {
        width: 100%;
        left: 0;
    }
</style>