---
import FeatureLayout from "../../layouts/FeatureLayout.astro";
---

<FeatureLayout animation={1}>
  <div class="mr-40 mt-20">
    <iframe
      src="https://discord.com/widget?id=1140266441082404924&theme=dark"
      width="350"
      height="500"
      allowtransparency="true"
      frameborder="0"
      sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"
    ></iframe>
  </div>
  <h2>Big Community</h2>
</FeatureLayout>
