---
import FeatureLayout from "../../layouts/FeatureLayout.astro";
interface Props {
    layers: Array<string>;
}

const {layers} = Astro.props;
---

<FeatureLayout animation="0">
    <h2>Perfect gui</h2>
    <div>
        {layers.map(layer => <img src=`/images/layers/${layer}` alt=""></img>)}
    </div>
</FeatureLayout>

<style>
    div {
        width: 950px;
        height: 400px;
        margin-top: 30px;
        margin-bottom: 20px;
        transform: rotateY(30deg) rotateX(-13deg);
        transition: 0.5s;
    }

    div img {
        position: absolute;
        width: 100%;
        transition: 0.5s;
    }

    div:hover img:nth-child(3) {
        transform: translate(-180px, -40px);
        opacity: 0.8;
    }

    div:hover img:nth-child(2) {
        transform: translate(-140px, -20px);
        opacity: 0.8;
    }

    div:hover img:nth-child(1) {
        opacity: 0.4;
    }
</style>